:root{
    --main-blue:#4834d4;
    --main-red:#EB4D4B;
    --main-white:#fff;
    --main-paragraph:#333;
}
*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.3s linear;
    text-transform: capitalize;
    font-family: 'Exo 2', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
/*Start Golabl variables*/
.spikes{
    position: relative;
}
.spikes::after{ 
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg , white 25% ,transparent 25%)
    ,linear-gradient(225deg , rgb(255, 255, 255) 25% ,transparent 25%);
    background-size: 30px 30px;
}

/*End Golabl variables*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    color: var(--main-white);
}
#header .fa-bars{
    font-size: 3rem;
    z-index: 3000;
    cursor: pointer;
}
#header .logo{
    font-size: 2rem;
    color: var(--main-white);
    text-decoration: none;
}
#header .logo i{
    padding: 0 0.5rem;
}
#header .logo h1{
    display: inline;
}
#header .logo:hover {
    text-decoration: none;
}
#header .left .fa-shopping-cart{
    font-size: 2rem;
    cursor: pointer;
}
#header .left .search-container{
    display: inline;
    position: relative;
}
#header .left .search-container #search{
    position: absolute;
    top: -1.5rem;
    right: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0 1rem;
    border-radius: 5rem;
}
#header .left .search-container #search:hover,
#header .left .search-container #search:focus{
    width: 25rem;
}
#header .left .search-container .fa-search{
    position: absolute;
    top: -0.7rem;
    left: -3.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--main-paragraph);
    z-index:1;
}
#header .left .search-container .fa-search:hover ~ #search{
    width: 25rem;
} 
#header .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
    display: none;
}
#header .navbar ul{
    list-style: none;
    height: 100%;
    width: 35rem;
    background: var(--main-paragraph);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header .navbar ul li{
    margin: 0.5rem 0;
}
#header .navbar ul li a{
    display: block;
    height: 4rem;
    width: 25rem;
    text-decoration: none;
    color: var(--main-paragraph);
    background: var(--main-white);
    border-radius: 5rem;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
}
#header .navbar ul li a:hover{
    color: var(--main-white);
    letter-spacing: 0.3rem;
    background: var(--main-red);
}
/*End Navbar Css*/
/*Start Home CSS*/
#home{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--main-paragraph);
}
#home .slide{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home .slide .content{
    margin-left: 4rem;
}
#home .slide .content h1{
    font-size: 4rem;
    color: var(--main-white);
}
#home .slide .content p{
    font-size: 1.7rem;
    color: #ccc;
}
#home .slide .content .stars{
    margin: 1rem;
}
#home .slide .content .stars i{
    font-size: 1.5rem;
    padding-left: 0.4rem;
    color: gold;
}
#home .slide .content .price{
    color: var(--main-red);
    font-size: 3.5rem;
    margin: 0.5rem 0;
}
#home .slide .content button {
    outline: none;
    border: none;
    height: 4rem;
    width: 16rem;
    background: var(--main-blue);
    color: var(--main-white);
    font-size: 1.5rem;
    cursor: pointer;
    margin: .5rem 0;
    border-radius: 5rem;
    text-transform: capitalize;
}
#home .slide .content button:hover {
    background: var(--main-red);
    letter-spacing: .1rem;
}
#home .slide .image img{
    width: 50vw;
}
#home .owl-nav .owl-next, #home .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    color: #EB4D4B;
    font-size: 6rem;
    background: none;
    border: none;
    outline: none;
}
#home .owl-nav .owl-next {
    right: 1rem;
}
#home .owl-nav .owl-prev {
    left: 1rem;
}
#home .owl-dots {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}
#home .owl-dots .owl-dot {
    border: none;
    outline: none;
}
.fa-times{
    transform: translateX(27rem);
    padding-top: 1rem;
}
/*Start Media*/
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
    #home {
        padding-bottom: 4rem;
    }
    #home .owl-dots {
        display: none;
    }
    #home .slide {
        flex-direction: column-reverse;
    }
    #home .slide .content {
        padding: 1rem;
    }
    #home .slide .image img {
        width: 100vw;
    }
}
/*End Media*/
/*End Home CSS*/
/*Start product CSS*/
#product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100vw;
}
#product .heading {
    color: var(--main-blue);
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    margin: 2rem 0;
    position: relative;
}
#product .heading::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    height: .3rem;
    width: 60%;
    background: var(--main-red);
}
#product .product-container{
    width: 90%;
}
#product .product-container .title{
    font-size: 3rem;
    color: var(--main-red);
    margin-top: 5rem;
    margin-left: 6rem;
}
#product .product-container .product-slider .product-card{
    width: 30rem;
    height: 40rem;
    margin: 2rem auto;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    position: relative;
}
#product .product-container .product-slider .product-card .image{
    height: 75%;
    width: 100%;
}
#product .product-container .product-slider .product-card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#product .product-container .product-slider .product-card .content{
    height: 25%;
    width: 100%;
    text-align: center;
}
#product .product-container .product-slider .product-card .content h3{
    font-size: 3rem;
    color: var(--main-blue);
}
#product .product-container .product-slider .product-card .content .stars i{
    color: gold;
}
#product .product-container .product-slider .product-card .content .price{
    font-size: 2rem;
    color: var(--main-red);
}
#product .product-container .product-slider .product-card .info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-paragraph);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition-delay: 0.2s;
    transform: scale(0);
}
#product .product-container .product-slider .product-card:hover .info{
    transform: scale(1);
}
#product .product-container .product-slider .product-card .info h4{
    font-size: 4rem;
    color: var(--main-white);
}
#product .product-container .product-slider .product-card .info p{
    font-size: 1.2rem;
    padding: 1rem 2rem;
    color: #ccc;
    text-align: center;
}
#product .product-container .product-slider .product-card .info button{
    outline: none;
    border: none;
    height: 4rem;
    width: 16rem;
    color: var(--main-white);
    font-size: 1.5rem;
    cursor: pointer;
    margin: .5rem 0;
    border-radius: 5rem;
    text-transform: capitalize;
    margin-top: 1rem;
    background: var(--main-red);
}
#product .product-container .product-slider .product-card .info button:hover{
    background: var(--main-blue);
    letter-spacing: .1rem;
}
#product .product-container .product-slider .product-card .info .share{
    margin-top: 4.5rem;
}
#product .product-container .product-slider .product-card .info .share a{
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 5rem;
    text-align: center;
    color: var(--main-red);
    margin: 0 0.5rem;
    background: var(--main-white);
    text-decoration: none;
}
#product .product-container .product-slider .product-card .info .share a:hover{
    color: var(--main-white);
    background: var(--main-red);
}
#product .product-container .owl-nav .owl-next, #product .product-container .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #EB4D4B;
    font-size: 6rem;
    background: none;
    border: none;
    outline: none;
}
#product .product-container .owl-nav .owl-next {
    right: 1rem;
}
#product .product-container .owl-nav .owl-prev {
    left: 1rem;
}
@media (max-width: 768px) {
    #product .product-container .title {
        margin-left: 0;
        text-align: center;
    }
}
/*End product CSS*/
/*Start review css*/
#review{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: url(../images/m.jpg) , linear-gradient(var(--main-blue) ,var(--main-blue)) no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: screen;
    position: relative;
}
#review .shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 103%;
    background: ;
    background-position: center;
    background-size: 100% 110%;
}

#review .owl-nav .owl-next, #review .owl-nav .owl-prev {
    position: absolute;
    top: 0%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #EB4D4B;
    font-size: 6rem;
    background: none;
    border: none;
    outline: none;
}
#review .owl-nav .owl-next {
    right: 5rem;
}
#review .owl-nav .owl-prev {
    left: 5rem;
}
#review .heading {
    color: var(--main-red);
    text-align: center;
    font-size: 3rem;
    padding-top: 7rem;
    margin: 2rem 0;
    position: relative;
}
#review .heading::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    height: .3rem;
    width: 60%;
    background: var(--main-white);
}
#review .box-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#review .box-container .review-slider .box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#review .box-container .review-slider .box .image{
    margin-top: 10rem;
    margin-left: 3rem;
}
#review .box-container .review-slider .box .image img{
    height: 10rem;
    width: 10rem;
    border-radius: 50% 50% 50% 0%;
    border: 0.5rem solid var(--main-red);
}
#review .box-container .review-slider .box .comment{
    height: 20rem;
    width: 45rem;
    background-color: var(--main-white);
    border-radius: 2% 2% 0% 40%;
    padding-top: 2rem;
}
#review .box-container .review-slider .box .comment p{
    color: var(--main-paragraph);
    font-size: 1.6rem;
    padding: 2rem;
}
#review .box-container .review-slider .box .comment p i{
    color: var(--main-red);
    font-size: 2rem;
    padding: 0rem 0.5rem;
}
#review .box-container .review-slider .box .comment h3{
    text-align: end;
    color: var(--main-red);
    margin: 0.5rem 2rem;
    font-size: 2.5rem;
}
@media (max-width: 600px) {
    #review .heading {
        padding-top: 10rem;
    }
    #review .box-container .review-slider .box {
        position: relative;
        height: 40vh;
    }
    #review .box-container .review-slider .box .image {
        position: absolute;
        top: 0;
        margin: 0;
    }
    #review .box-container .review-slider .box .image img {
        border-radius: 5rem;
    }
    #review .box-container .review-slider .box .comment {
        border-radius: 1rem;
        text-align: center;
        width: 35rem;
    }
    #review .box-container .review-slider .box .comment h3 {
        text-align: center;
        margin-top: -2rem;
    }
}
/*End review css*/
/*Start offer css*/
#offer{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#offer .heading {
    color: var(--main-blue);
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    margin: 2rem 0;
    position: relative;
}
#offer .heading::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    height: .3rem;
    width: 60%;
    background: var(--main-red);
}
#offer .images{
    min-height: 20vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#offer .images .box{
    height: 25rem;
    width: 30rem;
    text-align: center;
    margin: 2rem;
}
#offer .images .box img{
    height: 20rem;
    width: 30rem;
}
#offer .images .box h3{
    color: var(--main-red);
    font-size: 2.5rem;
    margin: 1rem 0;
}
#offer .deal{
    background: url(../images/m.jpg) , linear-gradient(var(--main-red) , var(--main-red))  no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: screen;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;
}
#offer .deal .image img{
    height: 50vh;
}
#offer .deal .content{
    text-shadow: 0.1rem 0.1rem 0.3rem var(--main-paragraph);
}
#offer .deal .content h4{
    font-size: 4rem;
    color: var(--main-blue);
}
#offer .deal .content p{
    font-size: 2rem;
    color: var(--main-white);
}
#offer .deal .content .stars i{
    color: gold;
    font-size:1.5rem ;
}
#offer .deal .content .price{
    color:var(--main-white);
    font-size:3rem ;
}
#offer .deal .content button {
    outline: none;
    border: none;
    height: 4rem;
    width: 16rem;
    background: var(--main-blue);
    color: var(--main-white);
    font-size: 1.5rem;
    cursor: pointer;
    margin: .5rem 0;
    border-radius: 5rem;
    text-transform: capitalize;
}
#offer .deal .content button:hover {
    background: var(--main-paragraph);
    letter-spacing: .1rem;
}
@media (max-width: 768px){
    #offer .deal {
        flex-flow: column;
    }
    #offer .deal .image img {
        height: auto;
        width: 100%;
    }
    #offer .deal .content {
        text-align: center;
    }
}
/*End offer css*/
/*start brand css*/
#brand .brand-slider img{
    height: 10rem;
    width: 15rem;
    margin: 4rem 0;
}
/*End brand css*/
/*Start newsletter*/
#newsletter{
    width: 100vw;
    background: linear-gradient(rgba(0,0,255,0.4) , rgba(0,0,255,0.4)) , url(../images/leeter.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 6rem 0;
    text-align: center;
}
#newsletter h1{
    font-size: 6rem;
    color: var(--main-white);
}
#newsletter p{
    font-size: 3rem;
    color: #f9f9f9;
}
#newsletter input[type="text"]{
    outline: none;
    border: none;
    background: var(--main-paragraph);
    color: var(--main-white);
    height: 4rem;
    width: 34rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    padding: 1.5rem;
}
#newsletter input[type="text"]::placeholder{
    color: #ccc;
}
#newsletter input[type="submit"]{
    outline: none;
    border: none;
    height: 4rem;
    width: 16rem;
    background: var(--main-red);
    color: var(--main-white);
    font-size: 1.8rem;
    cursor: pointer;
    margin: 2rem 0 0.5rem;
    border-radius: 5rem;
    text-transform: capitalize;
}
#newsletter input[type="submit"]:hover{
    background: var(--main-paragraph);
    letter-spacing: .1rem;
}
@media (max-width: 600px){
    #review .box-container .review-slider .box .comment h3 {
        text-align: center;
        margin-top: -2rem;
    }
    #newsletter h1 {
        font-size: 4rem;
    }
    #newsletter p {
        font-size: 2rem;
    }
}
#footer{
    padding: 2rem 0;
    background-color: var(--main-paragraph);
    width: 100vw;
}
#footer .row{
    width: 100%;
    margin: 0;
}
#footer .row .brand-info{
    padding: 0;
    margin: 1;
}
#footer .row a{
    color: var(--main-white);
    text-decoration: none;
}
#footer .row .brand-info i{
    padding: 0 0.5rem;
    font-size: 2rem;
}
#footer .row .brand-info h3{
    display: inline;
    font-size: 3rem;
}
#footer .row .brand-info p{
    color: #ccc;
    margin: 0;
    padding:2rem;
    font-size: 1.5rem;
}
#footer .links,
#footer .follow-us{
    padding: 0;
    margin: 1rem;
}
#footer .links h3,
#footer .follow-us h3{
    font-size: 2rem;
    color: var(--main-white);
}
#footer .links .nav-links,
#footer .follow-us .follow-us-links{
    display: flex;
    flex-flow: column;
}
#footer .links .nav-links a,
#footer .follow-us .follow-us-links a{
    color: #ccc;
    font-size: 1.5rem;
}
#footer .links .nav-links a:hover,
#footer .follow-us .follow-us-links a:hover{
    color: var(--main-white);
    text-decoration: underline;
}
#footer .credit{
    color: var(--main-white);
    font-size: 2rem;
    padding-top: 1.5rem;
    width: 100%;
    border-top:0.1rem solid rgba(255, 255, 255, 0.5) ;
}
#footer .credit span{
    color: var(--main-red);
}
/*Endnewsletter*/
